# Dependencias
node_modules/
package-lock.json

# Archivos de entorno
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de construcción
/dist
/build

# Directorios de caché
.cache/
.npm/

# Archivos del sistema
.DS_Store
Thumbs.db

# Directorios de cobertura
coverage/

# Archivos temporales
*.swp
*.swo
*~

# IDEs y editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de debug
.debug/
